<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
                <a href="{{ path('home') }}">Home</a>
                <a href="{{ path('report') }}">Redovisning</a>
                <a href="{{ path('lucky') }}">Lucky</a>
                <a href="{{ path('api_index') }}">API:n</a>
                <a href="{{ path('about') }}">About</a>
                <a href="{{ path('card_home') }}">Card Game</a>
                <a href="{{ path('session_home') }}">Session</a>
        </nav>
        {% block body %}{% endblock %}

    </body>
    <footer>
        <p>©2025 mahq24 - All rights reserved.</p>
    </footer>
</html>
